.Destination {
  background-image: url("../../assets/image/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 640px) {
  .Destination {
    background-image: url("../../assets/image/destination/background-destination-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .Destination {
    background-image: url("../../assets/image/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
