.Technology {
  background-image: url("../../assets/image/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 640px) {
  .Technology {
    background-image: url("../../assets/image/technology/background-technology-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .Technology {
    background-image: url("../../assets/image/technology/background-technology-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
