.Crew {
  background-image: url("../../assets/image/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 640px) {
  .Crew {
    background-image: url("../../assets/image/crew/background-crew-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .Crew {
    background-image: url("../../assets/image/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
