.App {
  background-image: url("./assets/image/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 640px) {
  .App {
    background-image: url("./assets/image/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .App {
    background-image: url("./assets/image/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
